/* Google Font link here  */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
 /* Defult margin & padding  */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:"Azeret Mono",  sans-serif;
}
/* nav-are css start here  */
.nav
{
    display: flex;
    justify-content: space-between;
}
.nav-logo
{
    margin: 50px 0px 0 50px ;
}
.nav-btn
{
    margin: 38px 166px 0 0;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    color:rgb(13, 19, 33);
    opacity: 0.8;
    padding: 17px 24px 17px 24px;
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 0%;
    line-height: 25px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
/* hero area css start here  */
.hero-box-container
{
    width: 1440px;
    height: 652px;
    margin-top: 35px;
    margin: 35px auto 0;
}
.hero-bg-img
{
    width: inherit;
    height: inherit;
    background:url(../assets/Hero-bg.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-content-box
{
    width: 998px;
    height: 582px;
    margin: auto;
}
.hero-img
{
    text-align: center;
}
.hero-img img
{
    width: 173.03px;
    height: 228.9px;
    margin-top: 26px;
}
.hero-tittle 
{
    width: 998px;
    height: 136px;
    color: rgb(13, 19, 33);
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin-top: 43px;
}

.hero-description
{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;
    margin-top: -10px;
}
#hero-contact-btn
{
    text-align: center;
    margin-top: 40px;
}
#hero-contact-btn a
{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    width: 160px;
    height: 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 21px 24px 21px 24px;
    text-decoration: none;
    margin-top: 32px;
}
/* main first section start here  */
/* why web development   */
.web-dev-main-contaner
{
    width: 1140px;
    height: 1395px;
    margin: auto;
}
.web-dev-content-container 
{
    width: 946px;
    height: 1235px;
    margin:97px 80px;
    border-radius: 16px;
    background: #0D132105;
}
.web-dev-content
{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;   
}
.web-dev-descriptin
{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    text-align: center;
    margin-top: 24px;
}
.item-main-container
{
    width: 946px;
    height: 336px;
    margin-top: 48px;
}
.item-d-flex-2-item
{
    width: 850px;
    height: 240px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.item-content
{
    width: 850px;
    height: 240px;
}
.item-tittle
{
    width: 90%;
    height: 72px;
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
}
.item-descriptin
{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    width: 468px;
    height: 52px;
}
.learn-more-btn
{
   color: rgb(13, 19, 33);
   font-size: 20px;
   font-weight: 600; 
   border: 1px solid rgb(13, 19, 33);
   opacity: 0.7;
   padding: 12px 20px 12px 20px;
   margin-top: 32px;
   cursor: pointer;
}
.item-img img
{
    width: 259.56px;
    height: 217.01px;
}
.bg-color
{
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.bg-color-revars
{
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.secend-item-main-container
{
    margin: 0 0;
}
.secend-img img
{
    width: 223.2px;
    height: 208.85px;
}
.secend-item-content
{
    margin-left: 48px;
    width: 477px;
    height: 220px;
    margin-right: 101px;
}
.secend-item-tittle
{
    width: 468px;
    height: 52px;
    margin: 16px 0;
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
}
.secend-item-description
{
    width: 468px;
    height: 52px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(13, 19, 33);
    opacity: 0.7;
}


.thre-nub-item
{
    margin-top: 100px;
}

/* my inspiratin css style start here  */

.my-inspiration-section
{
    width: 1140px;
    height: 777px;
    margin: auto;
}
.inspiration-tittle
{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin: 24px 0;
}
.inspiration-description
{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;
    margin: 24px 0px;
}
.inspiration-video
{
    width: 1140px;
    height: 614px;  
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}
.video 
{
    width: 1076px;
    height: 550px;
    margin: 10px 0px;
    margin: 0 auto;
    text-align: center;

}
.video iframe
{
    border-radius: 16px;
    margin: 30px 0px;
}
/* My current section css style start here  */
.current-target-main-container
{
    width: 1140px;
    height: 463px;
    margin: auto;
}
.current-target-head-area
{
    width: 946px;
    height: 115px;
    margin:48px auto;
}
.current-target-tittle
{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin: 24px 0px;
}
.current-target-description
{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;
    margin: 24px 0px;
}
.target-thre-card-container
{
    width: 1140px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    gap:24px;
}
.card-content
{
    width: 284px;
    height: 220px;
    margin: 32px 0px;
    padding: 40px;
    
}
.card-one
{
    width: 364px;
    height: 300px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
.card-tow
{
    width: 364px;
    height: 300px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
.card-thre
{
    width: 364px;
    height: 300px;
    border-radius: 16px;
    margin: 0px 24px;
    background: rgba(255, 223, 0, 0.05);
}
.card-content .html-img
{
    width: 39.68px;
    height: 45px;
}
.css-img
{
    width: 39.67px;
    height: 44.99px;
    background: rgb(255, 255, 255);
}
.js-img
{
    width: 56px;
    height: 56px;
    background: rgb(255, 223, 0);
}
.card-tittle
{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    margin: 8px 0px;
}
.card-description
{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin: 8px 0px;
}


.learn-btn 
{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;

}